body {
  background-color: #e4cae7;
  font-family: Raleway;
}

html {
  scroll-behavior: smooth;
}

/* ------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------ */
/* navigation bar */

.navbar {
  margin: 0;
  padding: 0;
  overflow: hidden;
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 10;
  animation-name: slide;
  animation-duration: 2s;
  animation-timing-function: ease;
  animation-iteration-count: 1;
  animation-fill-mode: both;
  transform: translate(0, -20px);
}
@keyframes slide {
  0% {
    transform: translate(0, -60px);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
.navbar > li {
  display: inline;
}
.navbar li a {
  margin: 2vw 2vw;
  padding: 1vw 1vw;
  font-size: 2.4vw;
  float: right;
  display: block;
  text-decoration: none;
  color: black;
}
a.middle-animation {
  position: relative;
}
a.middle-animation:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: black;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

a.middle-animation:hover:before {
  visibility: visible;
  transform: scaleX(1);
}
.navbar li a:visited {
  text-decoration: none;
  color: black;
}
.navheader {
  float: left;
  display: block;
  font-size: 2.4vw;
}
.navbar-colour {
  background-color: #caaabeef;
  border-bottom: 2px solid black;
  transition: ease-in-out 0.4s;
}
.navbar-clear {
  background-color: transparent;
  transition: ease-in-out 0.4s;
}

/* ------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------ */
/* general home div css */
.home p:hover {
  cursor: default;
}

/* ------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------ */
/* home 1 div css */

.home-1-hello {
  grid-area: hello-1;
}
.home-1-image {
  grid-area: image-1;
}
.home-1 {
  height: 100vh;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-template-areas: "hello-1 image-1";
}
.home-1 div {
  padding-top: 20%;
  padding-left: 5vw;
}
.home-1 p {
  font-size: 4vw;
  line-height: 1.5;
  opacity: 0;
  animation-name: slide;
  animation-delay: 1.5s;
  animation-duration: 2s;
  animation-timing-function: ease;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  transform: translate(0, -20px);
}

/* ------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------ */
/* home 2 div css */
.home-2-image {
  grid-area: image-2;
}
.home-2-hello {
  grid-area: hello-2;
}
.home-2 {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  grid-template-areas: "image-2 hello-2";
}
.home-2 div {
  padding-top: 20%;
  padding-right: 5vw;
}
.home-2 p {
  font-size: 4vw;
  line-height: 1.5;
}
.para-fade-in {
  animation: fade-in 1.5s;
}

.para-hidden {
  opacity: 0;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: scale(0.9, 0.9);
  }
  to {
    opacity: 1;
  }
}

/* ------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------ */
/* home 3 div css */
.home-3 {
  height: 100vh;
}

#cheat-day-div {
  grid-area: cheat-day;
}
#tab-app-div {
  grid-area: tab-app;
}
#react-div {
  grid-area: react;
}
.work-link {
  grid-area: link;
}
.work-description {
  grid-area: desc;
}

.home-3-container {
  display: grid;
  padding: 10vh;
  padding-top: 15%;

  grid-template-areas:
    "cheat-day"
    "tab-app"
    "react";
}

.work-div {
  display: grid;
  padding: 5vh;
  grid-template-columns: 1fr 2fr;
  grid-template-areas: "link desc";
  padding-left: 10vh;
  font-size: 4vh;
}
